* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: calc(7.5rem + 0.25vw);
  font-weight: normal;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: -5px;
  overflow: hidden;
  height: 100dvh;
  transition: all 60ms ease-in-out;
}

.parent {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  margin: -1% auto;
  padding-right: 5px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}

.ul1 {
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.ul1 li {
  display: flex;
  min-width: fit-content;
  padding: 0;
  margin: 0;
  font-size: calc(100% - 0.25dvw);
  line-height: 80%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.15px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0.5px 0.5px 5px black);
  transition: all 60ms ease-in-out;
}

.hora-espacio-10 {
  letter-spacing: 10px;
}

.hora-espacio-5 {
  letter-spacing: 5px;
}

.hora-espacio-2 {
  letter-spacing: 2px;
}

.hora-espacio-0 {
  letter-spacing: 0px;
}

.hora-espacio--10 {
  letter-spacing: -10px;
}

.hora-espacio--2 {
  letter-spacing: -2px;
}

.am {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
  mix-blend-mode: soft-light;
}

.pm {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
  mix-blend-mode: soft-light;
}

.min {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s ease-in-out;
}

.minutero {
  font-size: 15%;
  letter-spacing: -2px;
  width: 0.0025rem;
  display: inline-block;
  margin: 2px 0;
  text-wrap: nowrap;
  padding: 0;
  position: relative;
  top: 5%;
  right: 97%;
  line-height: 99%;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 0px !important;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(1px 0.5px 1px rgba(255, 145, 0, 0.9));
  z-index: 9999;
}

#segundero {
  animation: segundero 1s linear infinite;
}

@keyframes segundero {
  from {
    opacity: 0;
    -webkit-text-fill-color: transparent;
  }
  to {
    opacity: 1;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.6);
  }
}

#emoji {
  font-size: 40%;
  padding: 0;
  clip-path: circle(25% at 42% 50%);
}

.amanece {
  background: linear-gradient(135deg, #efe9e5, #d7be4f);
}

.mediodia {
  background: linear-gradient(135deg, #f2c656, #edc72f);
}

.tarde {
  background: linear-gradient(135deg, #f2c94c, #e1ed31);
}

.atardece {
  background: linear-gradient(135deg, #eb8d57, #452727);
}

.anochece {
  background: linear-gradient(135deg, #6b78d9, #1e2533);
}

.noche {
  background: linear-gradient(135deg, #091d2d, #07072e);
}

@media screen and (max-width: 768px) {
  body {
    padding: 1px;
  }
  .ul1 li {
    font-size: calc(33.3% + 0.025dvw);
    width: fit-content;
  }
  .min::before {
    margin: 0 0;
    padding: 0;
    top: -50%;
  }
  li.hora-espacio-10 {
    letter-spacing: 1px;
  }
  li.hora-espacio-5 {
    letter-spacing: 0px;
  }
  li.hora-espacio-2 {
    letter-spacing: 3px;
  }
}
